<div class="cajaTabla">
    <div class="utilesTabla">
        <div class="accionesIzquierdaTabla">
            {% block top_extra %}{% endblock %}
        </div>
        <div class="accionesDerechaTabla">
            {% block buscador_tabla %}
            <div class=" filtroTabla">
                <span class="lupaFiltro">🔍</span>
                <input id="busquedaTabla" type="text" class="busquedaTabla" placeholder="Buscar..." autocomplete="off">
            </div>
            {% endblock %}
            {% block botones_vistas_tabla %}{% endblock %}
        </div>
    </div>
    <div id="vistaTabla">
        <table>
            <caption class="tablaTitulo">
                {% block tabla_titulo %}Título Placeholder{% endblock %}
            </caption>
            <thead>
                <tr>
                    {% for a in atributos %}
                    <th>{{ a.etiqueta }}</th>
                    {% endfor %}
                    {% block cabecera_extra %}{% endblock %}
                    <th style="width: 5%;">EDITAR</th>
                </tr>
            </thead>
            <tbody>
                {% for objeto in datos %}
                <tr>
                    {% for a in atributos %}
                    <td data-tipo="{{ a.tipo }}" data-campo="{{ a.attr }}">
                        {% set valor = attribute(objeto, a.attr) %}
                        {% if a.tipo == 'relacion' %} {# SI ES OBJETO: TAL #}
                        {{ valor.nombre|default(valor.id)|default('Sin asignar') }}
                        {% elseif a.tipo == 'bool' %} {# SI ES BOOLEANO: CUAL #}
                        {{ valor ? 'Si' : 'No' }}
                        {% else %} {# SI NO, SEGUIMOS CON LO DE SIEMPRE #}
                        {{ valor|default('---') }}
                        {% endif %}
                    </td>
                    {% endfor %}
                    <td>
                        <a href="#" class="btnMod" data-id="{{ objeto.id }}" data-entidad="{{ nombre_seccion }}">
                            ✎
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div id="vistaMosaico" style="display: none;">
        {% block vista_mosaico %}{% endblock %}
    </div>
    {% block bot_extra %}{% endblock %}
</div>