{% extends 'dnd/plantillas/plantillaTablas.html.twig' %}
{% import "macros/ordenarTablas.html.twig" as t %}

{% block tabla_titulo %}LISTADO DE JUGADORES{% endblock %}

{% block tabla_cabecera %}
    {{ t.ordenar('id', 'ID', sort, direction,'10%') }}
    {{ t.ordenar('Nombre', 'NOMBRE', sort, direction, '35%') }}
    {{ t.ordenar('Edad', 'EDAD', sort, direction,'10%') }}
    {{ t.ordenar('Lugar', 'LUGAR', sort, direction, 'auto') }}
{% endblock %}

{% block tabla_filas %}
            <td>{{ objeto.id }}</td>
            <td>{{ objeto.nombre }}</td>
            <td>{{ objeto.edad }}</td>
            <td>{{ objeto.lugar }}</td>
{% endblock %}
